include:
  - project: syseleven/gitlab-ci-templates
    ref: 3.38.0
    file: job-templates/TerraformValidate.yml
  - project: syseleven/gitlab-ci-templates
    ref: 3.38.0
    file: job-templates/TerraformFormat.yml
  - project: syseleven/gitlab-ci-templates
    ref: 3.38.0
    file: MarkdownLint.yml

stages:
  - test

workflow:
  rules:
    - if: $CI_MERGE_REQUEST_IID
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_TAG

default:
  retry:
    max: 2
    when:
      - runner_system_failure

##################################################################
#                            JOBS                                #
##################################################################

terraform-format:
  extends:
    - .terraform-format

terraform-validate:
  extends:
    - .terraform-validate

tfplugindocs:
  image: golang:1.26.0
  script:
    - go tool github.com/hashicorp/terraform-plugin-docs/cmd/tfplugindocs
    - if [[ ! -z "$(git status -s)" ]]; then echo "Found documentation files. Please run tfplugindocs locally and commit changes." && git diff && exit 1; fi
